body {
    background-color: #FAF7F0 ;
}

.title-box {
    background-color: #D8D2C2 ;
    border-radius: 2%;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.text > h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.name > img{
    height: 40px;
    margin-left: 10px;
}
.text > p{
    font-size: 20px;
    margin-top: 10px;
}

.picture {
    height: 250px;
    border-radius: 10%;
    margin: 20px;
}

.feature-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature {
    background-color: #D8D2C2 ;
    border: 2px black solid;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    height: 200px;
    min-width: 240px;
    margin-top: 40px;
    margin-bottom: 40px;   
}
.feature > img {
    height: 50px;
    margin: 20px;
}

.working-box {
    background-color: #D8D2C2 ;
    border-radius: 2%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.work > li{
    margin-bottom: 20px;
    font-size: 15px;
}
.work-text > .list{
    padding-left: 0px;
    list-style: decimal;
    margin-left: 20px;
}

.price-box {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    margin: 60px;
    flex-wrap: wrap;
}

.price {
    background-color: #D8D2C2 ;
    border: 2px black solid;
    border-radius: 10%;
    width: 280px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.price > p {
    border: 1px #4A4947 solid;
    background-color: #4A4947;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.price > ul {
    list-style: none;
    padding: 0px;
    font-size: 15px;
}

.price > a {
    background-color: #4A4947;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}

.price > a:hover {
    background-color: #2E2D2C;
}

footer {
    text-align: center;
}

.purchase {
    background-color: #D8D2C2 ;
    border: #2E2D2C 2px solid;
    border-radius: 10%;
    text-align: center;
    height: 300px;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
